@import url("reset.css");
*{
	margin:0;
	padding:0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
	text-decoration: none;
}
img{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
	color: #fff;
}
nav{
	width: 100%;
	height: 97px;
	background-color: #373c3f;
}
.logo{
	float: left;
	padding-left: 5%;
}
.colorG{
	color: #ebebeb;
}
.colorW{
	color: #fff;
}

.colorGr{
	color: #088ca5;
}
.fz15{
	font-size: 15px;
}
.fz60{
	font-size: 60px;
}
.fz34{
	font-size: 34px;

}

.content{
	width: 1024px;
	margin: auto;
	line-height: 97px;
}

.banner{
	margin-left: 5%;
}
.banner h2:first-of-type{
	opacity: .5;
}
.banner h2 > span{
	color: #fff;
	display: inline-block;
	padding-left:25% ;
}

.menu{
	display: flex;
}

.menu li{
	padding-left: 2%;
}
span{
	display: block;
}
header{
	padding: 20% 0 16% 0;
	width: 100%;
	background-color: #0ca3b9;
}

article{
	width: 100%;
	background-color: #27212c;
}
.textbox{
	display: flex;
	height: 234px;
	justify-content: center;

}
.aside1{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 100%;
}
.aside2{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #bc3183;
}

.photogrid{
	display: flex;
	width: 100%;
}

.item{
	display: flex;
	width: 33.3%;
}

.itembtn{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #5b0fa1;
}


footer{

	padding: 50px 0 200px 0;
	background-color: #ebebeb;
}

.footer_txt{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content:space-between;
}
.footer_txt p{
	width: 40%;
	font-size: 14px;
	line-height: 26px;
}

.footer_txt span{
	display: block;
	margin-top: 20px;
}


@media screen and (min-width:980px) and (max-width: 1024px) {

	.content{
		width: 100%;

	}

    
}

